body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

.PremiumCalc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 960px;
}

h2 {
    color: #d32f2f;
    margin-bottom: 20px;
}

.Inputs {
    display: flex;
    width: 100%;
}

form {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 20px;
}

.DataBlocks {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust width as needed */
}

.realtimeData {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    margin-bottom: 10px;
}

.realtimeData:last-child {
    margin-bottom: 0;
}

.realtimeData div {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"], input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    background: #d32f2f;
    height: 8px;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 2px solid #d32f2f;
    border-radius: 50%;
    cursor: pointer;
}

#overnightRateDisplay, #overnightRateDisplay2 {
    font-weight: bold;
    color: #d32f2f;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    background: #d32f2f;
    height: 8px;
    border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 2px solid #d32f2f;
    border-radius: 50%;
    cursor: pointer;
}